* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  background-color: #fff8dc;
  text-align: center; 
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  color: #f29c9c;
  font-family: "Londrina Shadow", cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.sundae-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sundae {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #fde0b5;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.bowl {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 70px;
  background-color: lightblue;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.ice-cream1,
.ice-cream2,
.ice-cream3 {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.ice-cream1 {
  background-color: #f9ad6a;
  background-image: radial-gradient(#f9ad6a, #f9ad6a 60%, #f29c9c); 
}

.ice-cream2 {
  bottom: 80px;
  background-color: #f29c9c;
  background-image: radial-gradient(#f29c9c, #f29c9c 60%, #b6e6b6); 
}

.ice-cream3 {
  bottom: 120px;
  background-color: #b6e6b6;
  background-image: radial-gradient(#b6e6b6, #b6e6b6 60%, #d2b48c); 
}

.cherry {
  position: absolute; 
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.options-container {
  font-family: "Trirong", serif;
  font-size: 30px;
  margin: 10px 0;
  color: #f9ad6a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "Trirong", serif;
  font-size: 15px;
  padding: 15px 15px;
  margin: 5px;
  background-color: #d2b48c;
  color: #4b2d2a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.flavors-button {
  font-size: 20px;
  background-color: #f29c9c;
  color: #b6e6b6;
  padding: 10px 10px;
}

.toppings-button {
  font-size: 20px;
  background-color: #f29c9c;
  color: #b6e6b6;
  padding: 10px 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#word {
  text-align: center;
  font-family: "Londrina Shadow", cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

#guessesLeft {
  display: none;
  font-family: "Trirong", serif;
  font-size: 20px;
  color: #f9ad6a;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

#score {
  display: none;
  font-family: "Trirong", serif;
  font-size: 20px;
  color: #f9ad6a;
  text-align: left;
  margin: 20px;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.hint-button,
.reset-button {
  font-family: "Trirong", serif;
  font-size: 15px;
  padding: 15px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 120px; /* Adding width to both buttons to make them wider */
}

.hint-button {
  background-color: #f29c9c;
  color: #b6e6b6;
}

.reset-button {
  background-color: #d2b48c;
  color: #4b2d2a;
}

.hint-button:disabled,
.reset-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}